{% extends "www/mainweb-base.html" %}

{% block title %}
Website Page {{object.page}}{% endblock %}

{% block heading %}<i class="fa fa-sitemap fa-1x" style="color:green;"></i> &nbsp;&nbsp;
Website Page: {{object.page}}
{% endblock %}
{% block websitepage-tab %}active{% endblock %}

{% block detail_view %}
	
    
    <table class="table-bordered table-striped table">
            <tr>
                <td>Get Data</td>
                <td>Show Tags</td>
                <td>Main Tags only</td>
                <td>Site Tags only</td>
                <td>Model Tags only</td>
            </tr>
            <tr>
                <td>
                  {% if object.get_data %}
                    <i class="fa fa-check fa-1x" style="color:green;"></i>
                    <!--span class="label label-success">Active</span-->
                  {% else %}
                  <i class="fa fa-check fa-1x" style="color:red;"></i>
                    <!--span class="label label-danger">Inactive</span-->
                  {% endif %}
              </td>
              <td>
                 {% if object.show_categories %}
                    <i class="fa fa-check fa-1x" style="color:green;"></i>
                    <!--span class="label label-success">Active</span-->
                  {% else %}
                  <i class="fa fa-check fa-1x" style="color:red;"></i>
                    <!--span class="label label-danger">Inactive</span-->
                  {% endif %}
              </td>
              <td>
                {% if object.main_categories %}
                    <i class="fa fa-check fa-1x" style="color:green;"></i>
                    <!--span class="label label-success">Active</span-->
                  {% else %}
                  <i class="fa fa-check fa-1x" style="color:red;"></i>
                    <!--span class="label label-danger">Inactive</span-->
                  {% endif %}
              </td>
              <td>
                  {% if object.site_categories %}
                    <i class="fa fa-check fa-1x" style="color:green;"></i>
                    <!--span class="label label-success">Active</span-->
                  {% else %}
                  <i class="fa fa-check fa-1x" style="color:red;"></i>
                    <!--span class="label label-danger">Inactive</span-->
                  {% endif %}
              </td>
              <td>
                  {% if object.model_categories %}
                    <i class="fa fa-check fa-1x" style="color:green;"></i>
                    <!--span class="label label-success">Active</span-->
                  {% else %}
                  <i class="fa fa-check fa-1x" style="color:red;"></i>
                    <!--span class="label label-danger">Inactive</span-->
                  {% endif %}
              </td>
            </tr>
        </table>
    <hr />
    <b>URL:</b> http://{{object.website.domain}}/{{object.page}}<br />
    <b>Website:</b> {{object.website.domain}}<br />
    <b>Template:</b> {{object.template_filename}}<br /><br />
    <input type="button" class="btn btn-danger pull-left" value="Edit" 
                onclick="window.location='{% url 'websitepage_update' pk=object.pk %}';"/>
    <br /><br /><hr />
    <h3><i class="fa fa-bar-chart-o fa-1x" style="color:green;"></i>&nbsp;&nbsp;&nbsp;Tracking</h3>
    <table class="table-bordered table-striped table">
            <tr>
                <td>Session</td>
                <td>Path</td>
                <td>Counter</td>
                <td>IP</td>
                <td>Referer</td>
                <td>UserAgent</td>
            </tr>
    {% for i in tracking %}
            <tr>
                <td>{{i.sid}}</td>
                <td>{{i.path}}</td>
                <td>{{i.counter}}</td>
                <td>{{i.ipaddress}}</td>
                <td>{{i.referer}}</td>
                <td>{{i.ua}}</td>
            </tr>
    {% endfor %}

{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Back to Website Pages" 
                onclick="window.location='{% url 'websitepage_view' %}';"/><br /><br />
    
{% endblock %}

