{% extends "www/mainweb-base.html" %}

{% block title %}Website Pages{% endblock %}
{% block heading %}Website Pages{% endblock %}
{% block websitepage-tab %}active{% endblock %}

{% block table_list %}

  <table class="table table-bordered" style="width:100%;font-size:13px;">
    <tr>
      <td></td>
      <td>Name</td><td>Website</td><td>Get Data</td>
      <td>Show Tags</td><td>Main Tags</td><td>Site Tags</td>
      <td>Model Tags</td>
    </tr>
    {% for i in object_list %}
    <tr>
      <td><a href="{% url 'websitepage_update' pk=i.id %}"><i class="fa fa-pencil"></i></a></td>
      <td><a href="{% url 'websitepage_detail' pk=i.id %}">{{ i.page }}</a> </td>
      <td><a href="{% url 'website_detail' pk={{i.website.id}}">{{ i.website.domain }}</a> </td>
      <td>
          {% if i.get_data %}
            <i class="fa fa-check fa-1x" style="color:green;"></i>
            <!--span class="label label-success">Active</span-->
          {% else %}
          <i class="fa fa-check fa-1x" style="color:red;"></i>
            <!--span class="label label-danger">Inactive</span-->
          {% endif %}
      </td>
      <td>
         {% if i.show_categories %}
            <i class="fa fa-check fa-1x" style="color:green;"></i>
            <!--span class="label label-success">Active</span-->
          {% else %}
          <i class="fa fa-check fa-1x" style="color:red;"></i>
            <!--span class="label label-danger">Inactive</span-->
          {% endif %}
      </td>
      <td>
        {% if i.main_categories %}
            <i class="fa fa-check fa-1x" style="color:green;"></i>
            <!--span class="label label-success">Active</span-->
          {% else %}
          <i class="fa fa-check fa-1x" style="color:red;"></i>
            <!--span class="label label-danger">Inactive</span-->
          {% endif %}
      </td>
      <td>
          {% if i.site_categories %}
            <i class="fa fa-check fa-1x" style="color:green;"></i>
            <!--span class="label label-success">Active</span-->
          {% else %}
          <i class="fa fa-check fa-1x" style="color:red;"></i>
            <!--span class="label label-danger">Inactive</span-->
          {% endif %}
      </td>
      <td>
          {% if i.model_categories %}
            <i class="fa fa-check fa-1x" style="color:green;"></i>
            <!--span class="label label-success">Active</span-->
          {% else %}
          <i class="fa fa-check fa-1x" style="color:red;"></i>
            <!--span class="label label-danger">Inactive</span-->
          {% endif %}
      </td>
    </tr>
    {% endfor %}
   </table>

 {% endblock %}


 {% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Add Website Page" 
                onclick="window.location='{% url 'websitepage_add' %}';"/>
{% endblock %}
